version: '3.8'

services:
  web:
    build: ./app
    command: uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 5000:5000
    depends_on:
      - db
  db:
    image: postgres:13-alpine
    ports:
      - 5431:5432
    environment:
      - POSTGRES_USER=yourname
      - POSTGRES_PASSWORD=yourpassword
      - POSTGRES_DB=test
