<html>

<body>
    <h1>Login</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageLogin" value="user@example.com" autocomplete="off"/>
        <br>
        <br>
        <input type="text" id="messagePassword" value="1234" autocomplete="off"/>
        <br>
        <br>
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
        var ws = new WebSocket("ws://localhost:5000/auth/ws");

        ws.onmessage = function(event) {
            try{
                data = JSON.parse(event.data)
                window.location.href = 'project_list'
            }catch(er){
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            }
        };
        
        function sendMessage(event) {
            var input = document.getElementById("messageLogin")
            var inputPassword = document.getElementById("messagePassword")
            ws.send(JSON.stringify({L: input.value, P: inputPassword.value}))
            input.value = ''
            inputPassword.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>