<html>

<body>
    <!-- <button type=" button"">Log out</button>
    <table>
        <tbody>
            <tr>
                <td><input size =30, placeholder="Enter task name"></input></td>
                <td><button type=" button"">Find</button></td>
            </tr>
        </tbody>
    </table> -->
    <a href="http://0.0.0.0:5000/project_list"><button>GoHome</button></a>
    <h1>{{project_name}} {{project_id}}</h1>
    <table>
        <tbody>
            <tr>
                <td><label>Creator: </label></td>
                <td><label>{{creator_name}}</label></td>
            </tr>
            <tr>
                <td><label>Created at: </label></td>
                <td><label>{{release_date}}</label></td>
            </tr>
            <tr>
                <td><label>Release: </label></td>
                <td><u>{{release_name}}</u></td>
            </tr>
        </tbody>
    </table>
    <br>
    <b>Description:</b>
    <br>
    <textarea>{{release_discription}}</textarea>
    <br>
    <br>
    <table>
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td><b>Link</b></td>
                <td><b>Creator</b></td>
                <td><b>Assignee</b></td>
            </tr>
                {% for i in tasks_id %}
                <tr>
                    <td><label>{{tasks_name[loop.index - 1]}} {{i}}</label></td>
                    <td><label>{{tasks_description[loop.index - 1]}}</label></td>
                    <td><a href="http://0.0.0.0:5000/task/{{project_id}}/{{i}}">http://0.0.0.0:5000/task/{{project_id}}/{{i}}</a></td>
                    <!-- TODO -->
                    <td><label>Elza Mingazhitdinova</label></td>
                    <!-- <td><label>No assignee</label></td> -->
                    <td><button type=" button"">Remove</button></td>
                </tr>
                {% endfor %}
            </tr>
            <td><b>Remove Task</b></td>
            <form action="" onsubmit="sendMessage(event)">
                <td><input type="text" id="remove_task" autocomplete="off"/></td>
                <br>
                <td><button>Remove</button></td>
            </form>
            <td><ul id='messages'></ul></td>
            <ul id='messages'>
            </ul>
            <script>
                var ws = new WebSocket("ws://localhost:5000/remove_task/ws");
        
                ws.onmessage = function(event) {
                        var messages = document.getElementById('messages')
                        var message = document.createElement('li')
                        var content = document.createTextNode(event.data)
                        message.appendChild(content)
                        messages.appendChild(message)
                        window.location.reload()

                };
                
                function sendMessage(event) {
                    var input = document.getElementById("remove_task")
                    ws.send(JSON.stringify({task_id: input.value}))
                    input.value = ''
                    event.preventDefault()
                }
            </script>

            <tr>
                <td><a href="http://0.0.0.0:5000/create_task/{{project_id}}"><button type=" button"">Create task</button></a></td>
            </tr>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <b>Team members</b>
    <br>
    <table>
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td><b>Is manager</b></td>
                <td><b>Is active</b></td>
                <td><b>Role_1</b></td>
                <td><b>Role_2</b></td>
                <td><b></b></td>
            </tr>
            <tr>
            <tr>

                {% for i in team_member_name %}
                <tr>
                    <td><label>{{i}}</label></td>
                    <td><select name="">
                        <option value="">no</option>
                        <option value="">yes</option>
                    </select></td>
                    <td><select name="">
                        <option value="">yes</option>
                        <option value="">no</option>
                    </select></td>
                    <td><select name="">
                        <option value="">Frontend developer</option>
                        <option value="">Backend developer</option>
                        <option value="">DB designer, architector</option>
                        <option value="">Project leader</option>
                        <option value="">Tech lead, architector</option>
                        </select></td>
                    <td><button type=" button"">Save</button></td>
                    <td><button type=" button"">Remove</button></td>
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>

</body>



</html>