<html>

<body>
    <!-- <button type=" button"">Log out</button>
    <table>
        <tbody>
            <tr>
                <td><input size =30, placeholder="Enter task name"></input></td>
                <td><button type=" button"">Find</button></td>
            </tr>
        </tbody>
    </table> -->
    <a href="http://0.0.0.0:5000/project/html/n_{{project_name}}"><button>GoHome</button></a>
    <h3>{{project_name}} {{project_id}}</h3>
    <h1>{{task_name}}</h1>
    <table>
        <tbody>
            <tr>
                <td><label>Status: </label></td>
                <td><select name=" Status">
                        <option value="">Status</option>
                        <option value="">Open</option>
                        <option value="">Closed</option>
                    </select></td>
            </tr>
            <tr>
                <td><label>Requirements: </label></td>
                <td><textarea>{{requirement_link}}</textarea></td>
            </tr>
            <tr>
                <td><label>Manager: </label></td>
                <td><label>{{manager}}</label></td>
            </tr>
            <tr>
                <td><label>Assignee: </label></td>
                <td><select name="No assignee">
                    <option value="">Elizaveta Povarova</option>
                    <option value="">Elza Mingazhitdinova</option>
                    <option value="">Denis Tsapaev</option>
                </select></td>
            </tr>
            <tr>
                <td><label>Created at: </label></td>
                <td><label>{{created_at}}</label></td>
            </tr>
            <tr>
                <td><label>Last update: </label></td>
                <td><label>{{updated_at}}</label></td>
            </tr>
        </tbody>
    </table>
    <br>
    <b>Description:</b>
    <br>
    <textarea>{{description}}</textarea>
    <br>
    <br>
    <!-- TODO: Кнопка Save -->
    <td><button type="button"">Save</button></td>
    <br>
    <br>
    <b>Attachements:</b>
    {% for i in attachment_id %}
    <br>
    <td><u>http://0.0.0.0:5000/attachment/{{i}}</u></td>
    <!-- TODO: Кнопка Remove -->
    <form action="" onsubmit="sendMessage(event)">
        <td><button type=" button"">Remove</button></td>
    </form>
    <ul id='messages'></ul>
    {% endfor %}
    <br>
    <!-- TODO: Кнопка Add attachement -->
    <button type=" button"">Add attachement</button>
        <br>
        <br>
        <table>
            <tbody>
                <tr>
                    <td>
                        <b>Comments</b>
                    </td>
                    <td></td>
                </tr>
            <tr>
                {% for i in comments_id %}
                <tr>
                    <td><label>{{comments_message[loop.index - 1]}}</label></td>
                    <td><label>{{comments_created_at[loop.index - 1]}}</label></td>
                    <!-- TODO: Кнопка Remove -->
                    <td><button type=" button"">Remove</button></td>
                </tr>
                {% endfor %}
                <!-- TODO: Кнопка Comment -->
                <td><textarea></textarea></td>
                <td><button type="button"">Comment</button></td>
            </tr>
        </tbody>
    </table>
    <script>
        var ws = new WebSocket("ws://localhost:5000/auth/ws");

        ws.onmessage = function(event) {
            try{
                data = JSON.parse(event.data)
                window.location.href = 'project_list'
            }catch(er){
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            }
        };
        
        function sendMessage(event) {
            ws.send()
            event.preventDefault()
        }
    </script>
</body>

</html>