<html>

<body>
    <!-- <button type=" button"">Log out</button>
    <table>
        <tbody>
            <tr>
                <td><input size =30, placeholder="Enter task name"></input></td>
                <td><button type=" button"">Find</button></td>
            </tr>
        </tbody>
    </table> -->
    <a href="http://0.0.0.0:5000/project/html/n_{{project_name}}"><button>GoHome</button></a>
    <h3>{{project_name}}</h3>
    <h1>{{task_name}}</h1>
    <table>
        <tbody>
            <form action="" onsubmit="form_updateTask(event)">
                <tr>
                    <td><label>Status: </label></td>
                    <!-- <td><textarea placeholder="Task status" id="state_id">{{state_id}}</textarea></td> -->
                    <td><input type="text" id="state_id" value={{state_name}} autocomplete="off"/></td>
                </tr>
                <tr>
                    <td><label>Requirements: </label></td>
                    <td><label>{{requirement_link}}</label></td>
                </tr>
                <tr>
                    <td><label>Manager: </label></td>
                    <td><label>{{manager}}</label></td>
                </tr>
                <tr>
                    <td><label>Assignee: </label></td>
                    <!-- <td><label>{{assignee_name}} </label></td> -->
                    <!-- <td><input type="text" id="assignee_name" value={{assignee_name}} autocomplete="off"/></td> -->
                    <td><textarea placeholder="Assignee name" id="assignee_name">{{assignee_name}}</textarea></td>
                </tr>
                <tr>
                    <td><label>Created at: </label></td>
                    <td><label>{{created_at}}</label></td>
                    <!-- <td><textarea placeholder="Created at" id="created_at">{{created_at}}</textarea></td> -->
                    <!-- <td><input type="text" id="created_at" value={{created_at}} autocomplete="off"/></td> -->
                </tr>
                <tr>
                    <td><label>Last update: </label></td>
                    <td><label>{{updated_at}}</label></td>
                    <!-- <td><input type="text" id="updated_at" value={{updated_at}} autocomplete="off"/></td> -->
                    <!-- <td><textarea placeholder="Updated at" id="updated_at">{{updated_at}}</textarea></td> -->
                </tr>
                <td><button>Save</button></td>
            </form>
        </tbody>
    </table>
    <br>
    <b>Description:</b>
    <br>
    <form action="" onsubmit="form_updateDiscription(event)">
        <!-- <td><input type="text" id="i_task_discription" value={{description}} autocomplete="off"/></td> -->
        <td><textarea placeholder="Task discription" id="i_task_discription">{{description}}</textarea></td>
        <br>
        <td><button>Save</button></td>
    </form>

    <b>Attachements:</b>
    {% for i in attachment_id %}
    <br>
    <td><u>http://0.0.0.0:5000/attachment/{{i}}</u></td>
    {% endfor %}
    <br>
    <!-- TODO: Кнопка Add attachement -->
    <button type=" button"">Add attachement</button>
    <br>
    <br>
    <table>
        <tbody>
            <tr>
                <td>
                    <b>Comments</b>
                </td>
                <td></td>
            </tr>
            <tr>
                {% for i in comments_id %}
                <tr>
                    <td><label>{{i}}</label></td>
                    <td><label>{{comments_message[loop.index - 1]}}</label></td>
                    <td><label>{{comments_created_at[loop.index - 1]}}</label></td>
                    <!-- <td><button type="button"">Remove</button></td> -->
                </tr>
                {% endfor %}
                <br>
            </tr>
        </tbody>
    </table>
    <br>
    <td><b>Create Comment</b></td>
    <form action="" onsubmit="form_createComment(event)">
        <td><label>Comment: </label></td>
        <td><input type="text" id="new_comment" value="Let's stop it!" autocomplete="off"/></td>
        <td><button>Comment</button></td>
    </form>
    <td><b>Remove Comment</b></td>
    <form action="" onsubmit="form_removeComment(event)">
        <td><label>id:</label></td>
        <td><input type="text" id="comment_id" autocomplete="off"/></td>
        <td><button>Remove</button></td>
    </form>
    <td><ul id='messages'></ul></td>
    <script>
        var ws_r = new WebSocket("ws://localhost:5000/remove_comment/ws");
        var ws_c = new WebSocket("ws://localhost:5000/create_comment/{{task_id}}/ws");
        var ws_u = new WebSocket("ws://localhost:5000/update_task_description/{{task_id}}/ws");
        var ws_ut = new WebSocket("ws://localhost:5000/update_task/{{task_id}}/ws");

        ws_r.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            if (content.textContent == "OK") window.location.reload()
        };
        ws_c.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            if (content.textContent == "OK") window.location.reload()
        };
        ws_u.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            if (content.textContent == "OK") window.location.reload()
        };
        ws_ut.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            if (content.textContent == "OK") window.location.reload()
        };

        function form_createComment(event) {
            var m_create_comment_name = document.getElementById("new_comment")
            ws_c.send(JSON.stringify({message: m_create_comment_name.value}))
            m_create_comment_name.value = ''
            event.preventDefault()
        }

        function form_removeComment(event) {
            var remove_comment_id = document.getElementById("comment_id")
            ws_r.send(JSON.stringify({comment_id: remove_comment_id.value}))
            remove_comment_id.value = ''
            event.preventDefault()
        }
        
        function form_updateDiscription(event) {
            var m_task_discription = document.getElementById("i_task_discription")
            ws_u.send(JSON.stringify({description: m_task_discription.value}))
            m_task_discription.value = ''
            event.preventDefault()
        }

        function form_updateTask(event) {
            var m_state_id = document.getElementById("state_id")
            var m_assignee_name = document.getElementById("assignee_name")
            ws_ut.send(JSON.stringify({state_id: m_state_id.value
                                    ,assignee_name: m_assignee_name.value
                                }))
            m_state_id.value = ''
            m_assignee_name.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>