<html>

<body>
    <!-- <button type=" button"">Log out</button>
    <table>
        <tbody>
            <tr>
                <td><input size =30, placeholder="Enter task name"></input></td>
                <td><button type=" button"">Find</button></td>
            </tr>
        </tbody>
    </table> -->
    <a href="http://0.0.0.0:5000/project/html/n_{{project_name}}"><button>GoHome</button></a>
    <h3>{{project_name}} {{project_id}}</h3>
    <h1>{{task_name}}</h1>
    <table>
        <tbody>
            <tr>
                <td><label>Status: </label></td>
                <td><label>{{state_id}}</label></td>
                <!-- <td><select name=" Status">
                        <option value="">Status</option>
                        <option value="">Open</option>
                        <option value="">Closed</option>
                    </select></td> -->
            </tr>
            <tr>
                <td><label>Requirements: </label></td>
                <td><textarea>{{requirement_link}}</textarea></td>
            </tr>
            <tr>
                <td><label>Manager: </label></td>
                <td><label>{{manager}}</label></td>
            </tr>
            <tr>
                <td><label>Assignee: </label></td>
                <td><label>{{assignee_name}} </label></td>
                <!-- <td><select name="No assignee">
                    <option value="">Elizaveta Povarova</option>
                    <option value="">Elza Mingazhitdinova</option>
                    <option value="">Denis Tsapaev</option>
                </select></td> -->
            </tr>
            <tr>
                <td><label>Created at: </label></td>
                <td><label>{{created_at}}</label></td>
            </tr>
            <tr>
                <td><label>Last update: </label></td>
                <td><label>{{updated_at}}</label></td>
            </tr>
        </tbody>
    </table>
    <br>
    <b>Description:</b>
    <br>
    <textarea>{{description}}</textarea>
    <br>
    <br>
    <!-- TODO: Кнопка Save -->
    <td><button type="button"">Save</button></td>
    <br>
    <br>
    <b>Attachements:</b>
    {% for i in attachment_id %}
    <br>
    <td><u>http://0.0.0.0:5000/attachment/{{i}}</u></td>
    {% endfor %}
    <br>
    <!-- TODO: Кнопка Add attachement -->
    <button type=" button"">Add attachement</button>
    <br>
    <br>
    <table>
        <tbody>
            <tr>
                <td>
                    <b>Comments</b>
                </td>
                <td></td>
            </tr>
            <tr>
                {% for i in comments_id %}
                <tr>
                    <td><label>{{i}}</label></td>
                    <td><label>{{comments_message[loop.index - 1]}}</label></td>
                    <td><label>{{comments_created_at[loop.index - 1]}}</label></td>
                    <!-- <td><button type="button"">Remove</button></td> -->
                </tr>
                {% endfor %}
                <br>
                
            </tr>
        </tbody>
    </table>
    <td><b>Create Comment</b></td>
    <form action="" onsubmit="form_createComment(event)">
        <td><label>task_id: </label></td>
        <td><input type="text" id="task_id" value={{task_id}} autocomplete="off"/></td>
        <td><label>Comment_id: </label></td>
        <td><input type="text" id="new_comment" value="Let's stop it!" autocomplete="off"/></td>
        <td><button>Comment</button></td>
    </form>
    <td><b>Remove Comment</b></td>
    <form action="" onsubmit="form_removeComment(event)">
        <td><label>id:</label></td>
        <td><input type="text" id="comment_id" autocomplete="off"/></td>
        <td><button>Remove</button></td>
    </form>
    <td><ul id='messages'></ul></td>
    <script>
        var ws_r = new WebSocket("ws://localhost:5000/remove_comment/ws");
        var ws_c = new WebSocket("ws://localhost:5000/create_comment/ws");

        ws_r.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            window.location.reload()
        };
        ws_c.onmessage = function(event) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(event.data)
            message.appendChild(content)
            messages.appendChild(message)
            window.location.reload()
        };

        function form_createComment(event) {
            var m_create_comment_name = document.getElementById("new_comment")
            var m_task_id = document.getElementById("task_id")
            ws_c.send(JSON.stringify({message: m_create_comment_name.value
                                    ,task_id: m_task_id.value
                                    }))
            m_create_comment_name.value = ''
            m_task_id.value = ''
            event.preventDefault()
        }

        function form_removeComment(event) {
            var remove_comment_id = document.getElementById("comment_id")
            ws_r.send(JSON.stringify({comment_id: remove_comment_id.value}))
            remove_comment_id.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>